.login-body{
    display: flex;
    align-items: center;
    padding: 40px,0,40px,0;
    background-color: #f0fff0;
}

.login-form{
    width: 320px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

#sifre{
    margin-top: 10px;
}

.login-form img{
    border-radius: 50%;
    width: 280px;
    height: 220px;
    margin-bottom: 10px;
}

.hatirla{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 217px;
}

.nav-item{
    margin-left: 10px;
}

#berke-resim{
    width: 100½;
}

.hakkimda-body{
    background-color: antiquewhite;
}
